<div class="u-width-100 u-flex body">
  <div class="u-width-50 ">
    <form [formGroup]="dicesForm" class="u-width-100 u-flex">
      <div class="u-width-100 u-flex u-flex-column card margin-all-mini">
        <div class="u-width-100 u-flex u-flex-space-between">
          <div class="u-width-45 rQItem u-flex border-all">
            <mat-form-field class="rQItem u-width-96 u-flex u-flex-space-center blueInput" >
              <mat-label>{{ "ACTIONS.ADD_COMBATANT" | translate }}</mat-label>
              <input matInput type="text"  [value]="" formControlName="combatant">
              <mat-hint>{{ "HINTS.ADD_COMBATANT" | translate }}</mat-hint>
            </mat-form-field>
            <div class="rQItem">
              <button mat-icon-button class="rQItem u-width-20" (click)="addCombatant()">
                <mat-icon class="cardIconButton">add</mat-icon>
              </button>
            </div>
          </div>
          <div class="u-width-55 rQItem u-flex border-all">
            <div class="u-width-90">
              <mat-form-field appearance="fill" class="rQItem u-width-100 blueInput">
                <mat-label>{{ "ACTIONS.SAVED_CHARACTERS" | translate }}</mat-label>
                <mat-select formControlName="savedPJ">
                  <mat-option *ngFor="let pj of savedCharacters" [value]="pj.id">
                    {{ pj.name }}
                  </mat-option>
                </mat-select>
                <mat-hint>{{ "HINTS.ADD_SAVED_COMBATANT" | translate }}</mat-hint>
              </mat-form-field>
            </div>
            <div class="rQItem">
              <button mat-icon-button class="rQItem u-width-20" (click)="addSavedCharacter()">
                <mat-icon class="cardIconButton">add</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="u-width-100 u-flex u-flex-space-between">

          <div class="u-width-100 rQItem u-flex u-flex-space-between border-all">
            <div class="u-width-30 rQItem">
              <mat-form-field class="rQItem u-width-100" >
                <mat-label>{{ "ACTIONS.ROLL_DICES" | translate }}</mat-label>
                <input matInput type="text"  [value]="" formControlName="dices">
                <mat-hint>{{ "HINTS.DICES_STRING" | translate }}</mat-hint>
              </mat-form-field>
            </div>
            <div class="u-width-20 rQItem u-flex u-flex-center">
              <button mat-icon-button class="rQItem u-width-20 dice-button" (click)="rollDices()">
                <mat-icon>cached</mat-icon>
              </button>
              <button mat-button class="rQItem margin-top dice-button" (click)="doRoll('d20')">{{ 'DICES_TYPES.D_20' | translate }}</button>
              <button mat-button class="rQItem margin-top dice-button" (click)="doRoll('d100')">{{ 'DICES_TYPES.D_100' | translate }}</button>
            </div>
            <div class="u-width-45 rQItem column">
              <mat-label class="rQItem title u-flex u-flex-space-center" *ngIf="swShowResult">{{ "COMMONS.RESULT" | translate }}</mat-label>
              <mat-label class="rQItem title u-flex u-flex-space-center" *ngIf="swShowResult">{{ dicesRoll }}: <b>{{ dicesResult }}</b></mat-label>
            </div>
          </div>

        <div class="rQItem column border-all padding-sides margin-right">
          <mat-label class="rQItem title u-flex u-flex-space-center">{{ "COMMONS.TURN" | translate }}</mat-label>
          <div class="u-flex u-flex-space-center">
            <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="moveTurn(-1)">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-label class="u-flex u-flex-space-center rQItem"><b>{{ turn }}</b></mat-label>
            <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="moveTurn(1)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        </div>
      </div>
    </form>
    <div
      *ngFor="let character of characters"
      class="rQItem padding-all border-all listItem"
      (click)="setCharacter(character)">
        {{ character.name }}
    </div>
  </div>
  <div class="u-width-50 u-height-min card margin-all-mini">
    <app-combat-detail
      [character]="character"
      [turn]="turn"
      (addCharacter)="addCharacter($event)"
      (swichCharacter)="swichCharacterIndex($event)"
      (removeCharacter)="removeCharacter($event)">
    </app-combat-detail>
  </div>
</div>



