@use './custom-colors.scss' as colors;

.spacer {
  flex: 1;
}

.u-text {
  margin: 0;

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.u-border {
  &-top {
    border-top: 1px solid colors.$text-primary;
  }

  &-bottom {
    border-bottom: 1px solid colors.$text-primary;
  }

  &-left {
    border-left: 1px solid colors.$text-primary;
  }

  &-right {
    border-right: 1px solid colors.$text-primary;
  }

  &-all {
    border: 1px solid colors.$text-primary;
  }
}

.u-width {
  &-2 {
    width: 2%;
  }

  &-3 {
    width: 3%;
  }

  &-5 {
    width: 5%;
  }

  &-8 {
    width: 8%;
  }

  &-10 {
    width: 10%;
  }

  &-13 {
    width: 13%;
  }

  &-14 {
    width: 14.2%;
  }

  &-15 {
    width: 15%;
  }

  &-16 {
    width: 16.666667%;
  }

  &-20 {
    width: 20%;
  }

  &-23 {
    width: 23%;
  }

  &-25 {
    width: 25%;
  }

  &-30 {
    width: 30%;
  }

  &-33 {
    width: 33.333333%;
  }

  &-35 {
    width: 35%;
  }

  &-40 {
    width: 40%;
  }

  &-45 {
    width: 45%;
  }

  &-50 {
    width: 50%;
  }

  &-55 {
    width: 55%;
  }

  &-60 {
    width: 60%;
  }

  &-65 {
    width: 65%;
  }

  &-66 {
    width: 66.666667%;
  }

  &-70 {
    width: 70%;
  }

  &-75 {
    width: 75%;
  }

  &-80 {
    width: 80%;
  }

  &-85 {
    width: 85%;

    &-padding {
      margin: 0.5rem;
      width: calc(85% - 1rem);
    }
  }

  &-90 {
    width: 90%;
  }

  &-95 {
    width: 95%;
  }

  &-98 {
    width: 98%;
  }

  &-100 {
    width: 100%;

    &-padding {
      margin: 0.5rem;
      width: calc(100% - 1rem);
    }

    &-padding-sides {
      padding: 0 1rem;
      width: calc(100% - 2rem);
    }
  }
}

.u-height {
  &-90 {
    height: 95%;

    &-padding {
      margin: 0.5rem;
      min-height: calc(95% - 1rem);
    }
  }

  &-100 {
    min-height: 100%;

    &-padding {
      margin: 0.5rem;
      min-height: calc(100% - 1rem);
    }
  }

  &-min {
    height: min-content;
  }
}

.u-flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &-center {
    align-items: center;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-center {
    justify-content: center;
  }

  &-space-evenly {
    justify-content: space-evenly;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }
}


.padding {
  &-top {
    padding-top: 1rem;

    &-mini {
      padding-top: 0.5rem;
    }
  }

  &-bottom {
    padding-bottom: 1rem;

    &-mini {
      padding-bottom: 0.5rem;
    }
  }

  &-left {
    padding-left: 1rem;

    &-mini {
      padding-left: 0.5rem;
    }
  }

  &-right {
    padding-right: 1rem;
  }

  &-all {
    padding: 1rem;

    &-mini {
      padding: 0.5rem;
    }
  }
}

.margin {
  &-top {
    margin-top: 1rem;
  }

  &-bottom {
    margin-bottom: 1rem;
  }

  &-left {
    margin-left: 1rem;
  }

  &-right {
    margin-right: 1rem;
  }

  &-all {
    margin: 1rem;
  }

  &-none {
    margin: 0;
  }
}

.icon {
  &-small {
    font-size: 1.2rem;
  }

  &-large {
    font-size: 2rem;
  }
}

.border {
  &-top {
    border-top: 1px solid #e0e0e0;
  }

  &-bottom {
    border-bottom: 1px solid #e0e0e0;
  }

  &-left {
    border-left: 1px solid #e0e0e0;
  }

  &-right {
    border-right: 1px solid #e0e0e0;
  }

  &-all {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
}
