<div class="u-width-100" *ngIf="character.name">
  <div class="u-width-100 u-flex u-flex-space-between">
    <button mat-icon-button class="rQItem u-width-20" (click)="swichCharacterIndex(-1)">
      <mat-icon class="cardIconButton">arrow_back_ios</mat-icon>
    </button>
    <p class="rQItem title u-text-center u-flex u-flex-center">{{ character.name }}</p>
    <div class="u-flex">
      <button mat-icon-button class="rQItem u-width-20" (click)="saveCharacter()">
        <mat-icon class="cardIconButton">save</mat-icon>
      </button>
      <button mat-icon-button class="rQItem u-width-20" (click)="quitCharacter()">
        <mat-icon class="cardIconButton">clear</mat-icon>
      </button>
      <button mat-icon-button class="rQItem u-width-20" (click)="swichCharacterIndex(1)">
        <mat-icon class="cardIconButton">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="u-width-100 u-flex">
    <div class="u-width-60 u-flex u-flex-column">
      <div class="u-width-100 rQItem u-flex">
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.STR" | translate  }}</b></p>
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.CON" | translate  }}</b></p>
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.DEX" | translate  }}</b></p>
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.INT" | translate  }}</b></p>
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.SIZ" | translate  }}</b></p>
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.POW" | translate  }}</b></p>
        <p class="u-width-14 u-text-center"><b>{{ "PJ.CATACTERISTICS_TYPES.CHA" | translate  }}</b></p>
      </div>
      <div class="u-width-100 rQItem u-flex">
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.STR, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.STR.value + character.stats.STR.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.STR, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.CON, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.CON.value + character.stats.CON.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.CON, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.DEX, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.DEX.value + character.stats.DEX.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.DEX, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.INT, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.INT.value + character.stats.INT.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.INT, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.SIZ, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.SIZ.value + character.stats.SIZ.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.SIZ, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.POW, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.POW.value + character.stats.POW.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.POW, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="u-width-14 u-flex u-flex-center u-flex-space-center">
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.CHA, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <p class="u-text-center">{{ character.stats.CHA.value + character.stats.CHA.tempMod  }}</p>
          <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addStatMod(character.stats.CHA, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="u-width-100 u-flex">
        <div class="border-all u-width-85-padding">
            <div class="u-width- rQItem u-flex">
              <p class="u-width-33 u-text-center"><b>{{ "PJ.HP" | translate  }}</b></p>
              <p class="u-width-33 u-text-center"><b>{{ "PJ.FP" | translate  }}</b></p>
              <p class="u-width-33 u-text-center"><b>{{ "PJ.MP" | translate  }}</b></p>
            </div>
            <div class="u-width-100 rQItem u-flex">
              <div class="u-width-33 u-flex u-flex-center u-flex-space-center">
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addHpMod(-1)">
                  <mat-icon>remove</mat-icon>
                </button>
                <p class="u-text-center">{{ getHp() + this.character.tempHPMod }}/{{ getHp() }}</p>
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addHpMod(1)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="u-width-33 u-flex u-flex-center u-flex-space-center">
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addFpMod(-1)">
                  <mat-icon>remove</mat-icon>
                </button>
                <p class="u-text-center">{{ getFP() }}/{{ getInitialFP() }}</p>
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addFpMod(1)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="u-width-33 u-flex u-flex-center u-flex-space-center">
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addMpMod(-1)">
                  <mat-icon>remove</mat-icon>
                </button>
                <p class="u-text-center">{{ getMP()  + this.character.tempMPMod }}/{{ getMP() }}</p>
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addMpMod(1)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
        </div>
        <div class="rQItem u-width-15 u-flex u-flex-column border-all" (click)="resetCharacterTemps()">
          <div class="u-width-100 u-flex u-flex-space-center">
            <button mat-icon-button >
              <mat-icon class="cardIconButton">health_and_safety</mat-icon>
            </button>
          </div>
          <div class="u-width-100 u-flex u-flex-space-center">
            <p>{{ "ACTIONS.UTILS.RESEL_ALL" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="u-width-100 rQItem u-flex">
        <p class="u-width-10"></p>
        <p class="rQItem u-width-33 margin-left"><b>{{ "PJ.DAMAGE_MOD" | translate }}:</b> {{ getDMGMod(character) }}</p>
        <p><b>{{ "PJ.MRCC" | translate  }}:</b> {{ getMRDESC(character)+getMRSIZ(character) }} = {{ "PJ.MRDEX" | translate  }}: {{ getMRDESC(character) }} + {{ "PJ.MRSIZ" | translate  }}: {{ getMRSIZ(character) }}</p>
      </div>
    </div>
    <div class="u-width-40 u-flex u-flex-column">
      <div class=" u-width-100-padding u-flex u-flex-column border-all">
        <div class="u-flex listItem padding-all" (click)="character.swShowLocs = !character.swShowLocs">
          <div class="u-width-100 u-flex" *ngIf="character.swShowLocs">
            <p class="u-width-25 u-flex u-flex-space-center"><b>{{ "PJ.LOC" | translate }}</b></p>
            <p class="u-width-20 u-flex u-flex-space-center"><b>{{ "PJ.HP" | translate }}</b></p>
            <p class="u-width-40 u-flex u-flex-space-center"><b>{{ "PJ.ARMOR" | translate }}</b></p>
            <p class="u-width-15 u-flex u-flex-space-center"><b>{{ "PJ.AP" | translate }}</b></p>
          </div>
          <div class="u-width-100 u-flex" *ngIf="!character.swShowLocs">
            <p class="u-width-100 u-flex u-flex-space-center"><b>{{ "PJ.LOCS" | translate }}</b></p>
          </div>
        </div>
        <div *ngIf="character.swShowLocs">
          <div class="u-width-100-padding-sides u-flex" *ngFor="let loc of character.locations; let i = index" [ngClass]="getLitsLineClass(i)">
            <div class="u-width-30 u-flex u-flex-center"><p class="margin-none">{{ loc.name }}</p></div>
            <div class="u-width-20">
              <div class="u-width-33 u-flex u-flex-center u-flex-space-center">
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addLocHpMod(-1, loc)">
                  <mat-icon>remove</mat-icon>
                </button>
                <p class="u-text-center margin-none">{{ getHpByLocation(character, loc)  + loc.bonusHP }}/{{ getHpByLocation(character, loc) }}</p>
                <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addLocHpMod(1, loc)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div class="u-width-35 u-flex u-flex-center">
              <p class="margin-none" [matTooltip]="getArmorTypeByLocation(character, loc)">{{ getArmorTypeByLocation(character, loc) }}</p>
            </div>
            <div class="u-width-5 u-flex u-flex-center">
              <p class="margin-none">{{ getArmorByLocation(character, loc) }}</p>
            </div>
          </div>
          <div class=" u-width-100-padding u-flex border-all rQItem">
            <p class="u-width-50 u-flex u-flex-center u-flex-space-center"><b>{{ "PJ.ARMOR_BONUS" | translate }}:</b> </p>
            <div class="u-width-50 u-flex u-flex-center u-flex-space-center">
              <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addApMod(-1)">
                <mat-icon>remove</mat-icon>
              </button>
              <p class="u-text-center">{{ character.tempAPMod }}</p>
              <button mat-mini-fab class="card-button u-flex u-flex-space-center u-flex-center" (click)="addApMod(1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-width-100-padding u-flex u-flex-column border-all">
    <div class="u-flex listItem padding-all" (click)="character.swCombat = !character.swCombat">
        <p class="u-width-100 u-flex u-flex-space-center"><b>{{ "PJ.COMBAT" | translate }}</b></p>
    </div>

    <div class=" u-width-100-padding u-flex border-all " *ngIf="character.swShowResults && character.swCombat">
      <p class="u-width-30 u-flex u-flex-center u-flex-space-center rQItem"><b>{{ "COMMONS.RESULT" | translate }}:</b> </p>
      <p class="u-width-60 u-flex u-flex-center u-flex-space-center rQItem">{{ character.results.combat }}</p>
      <button mat-icon-button class="rQItem u-width-10" (click)="clearResult()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div class="u-flex u-width-100-padding u-flex-column margin-top" *ngIf="character.swCombat">
      <div class="u-width-100 rQItem u-flex u-flex-center">
        <p><b>{{ "PJ.SKILL_NAME.AGILITY.DODGE" | translate }}:</b></p>
        <p class="padding-left-mini">{{ getDodgeLine(character) }}</p>
        <div class="u-width-5 u-flex padding-left-mini">
          <button class="card-button u-flex u-flex-space-center u-flex-center" (click)="rollD100(getDodge(character))">
            {{ getDodge(character) }}
          </button>
        </div>
      </div>

      <div class="u-flex u-width-100">
        <p class="u-width-5 u-text-center"><b></b></p>
        <p class="u-width-25"><b>{{ "PJ.WEAPON" | translate }}</b></p>
        <p class="u-width-8 u-text-center"><b>{{ "PJ.ATTACK_SHORT" | translate }}</b></p>
        <p class="u-width-8 u-text-center"><b>{{ "PJ.PARRY_SHORT" | translate }}</b></p>
        <p class="u-width-12 u-text-center"><b>{{ "PJ.AP" | translate }}</b></p>
        <p class="u-width-8 u-text-center"><b>{{ "PJ.MR" | translate }}</b></p>
        <p class="u-width-11 u-text-center"><b>{{ "PJ.DAMAGE" | translate }}</b></p>
        <p class="u-width-15 u-text-center"><b>{{ "PJ.RANGE" | translate }}</b></p>
        <p class="u-width-15 u-text-center"><b>{{ "PJ.FIRE_RATE_SHORT" | translate }}</b></p>
      </div>
      <div class="u-flex u-flex-column"
        *ngFor="let weapon of character.weapons; let i = index"
        [ngClass]="getLitsLineClass(i)">
        <div class="u-width-100 u-flex">
          <div class="u-width-5 u-text-center">
            <mat-icon class="cardIconButton cardIconButton-mini" (click)="weapon.showDetail = !weapon.showDetail">remove_red_eye</mat-icon>
          </div>
          <div class="u-width-25 u-flex u-flex-center"><p>{{getNameString(weapon) }}</p></div>
          <div class="u-width-8 u-flex u-flex-center u-flex-space-center">
            <button class="card-button u-flex u-flex-space-center u-flex-center" (click)="rollD100(getTAttSkill(character, weapon))">
              {{ getTAttSkill(character, weapon) + getFPAllMod() }}
            </button>
          </div>
          <div class="u-width-8 u-flex u-flex-center u-flex-space-center">
            <button class="card-button u-flex u-flex-space-center u-flex-center" (click)="rollD100(getTDefSkill(character, weapon.weaponType))">
              {{ getTDefSkill(character, weapon.weaponType) + getFPAllMod() }}
            </button>
          </div>
          <div class="u-width-12 u-flex u-flex-center u-flex-space-center">
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addWeaponAP(weapon, -1)">
              <mat-icon>remove</mat-icon>
            </button>
            <div class="u-text-center"><p>{{ weapon.aP + weapon.tempAP }}</p></div>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addWeaponAP(weapon, 1)">
              <mat-icon>add</mat-icon>
            </button>
          </div>   
          <div class="u-width-8 u-flex u-flex-center u-flex-space-center"><p>{{ getWeaponMR(weapon) }}</p></div>
          <div class="u-width-11 u-flex u-flex-center u-flex-space-center">
            <button class="card-button wide u-flex u-flex-space-center u-flex-center" (click)="rollDamage(weapon)">
              {{ getWeaoponRollString(weapon) }}
            </button>
          </div>
          <div class="u-width-15 u-flex u-flex-center u-flex-space-center"><p>{{ weapon.range }} / {{weapon.maxRange }}</p></div>
          <div class="u-width-15 u-flex u-flex-center u-flex-space-center"><p>{{ weapon.fireRate }}</p></div>
        </div>
        <div class="u-width-100 u-text-center u-flex" *ngIf="weapon.showDetail">
          <div class="u-width-3" *ngIf="!weapon.ranged"></div>
          <div class="u-width-15 u-flex u-flex-center u-flex-space-center" *ngIf="!weapon.ranged">
            <p class="u-width-100"> {{ getWeaponEffectText(weapon)  }} </p>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addPowerWeaopnEffect(weapon, -1)">
              <mat-icon>remove</mat-icon>
            </button>
            <div class="u-text-center"><p>{{ weapon.increasedIntensity }}</p></div>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addPowerWeaopnEffect(weapon, 1)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="u-width-3"  *ngIf="!weapon.natural && (weapon.damageType === 'SLASHING' || weapon.damageType === 'PIERCING' || weapon.ranged)"></div>
          <div class="u-width-15 u-flex u-flex-center u-flex-space-center"
            *ngIf="!weapon.natural && (weapon.damageType === 'SLASHING' || weapon.damageType === 'PIERCING' || weapon.ranged)">
            <p class="u-width-100" *ngIf="!weapon.ranged"> {{ "PJ.SPELLS_NAMES.FIREBLADE" | translate  }} </p>
            <p class="u-width-100" *ngIf="weapon.ranged"> {{ "PJ.SPELLS_NAMES.FIREARROW" | translate  }} </p>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="setFireBlade(weapon, true)">
              <mat-icon>local_fire_department</mat-icon>
            </button>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="setFireBlade(weapon, false)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
          <div class="u-width-3" *ngIf="!weapon.natural"></div>
          <div class="u-width-15 u-flex u-flex-center u-flex-space-center" *ngIf="!weapon.natural">
            <p class="u-width-100"> {{ "PJ.SPELLS_NAMES.DULLBLADE" | translate  }} </p>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addDullBladeEffect(weapon, -1)">
              <mat-icon>remove</mat-icon>
            </button>
            <div class="u-text-center"><p>{{ weapon.dullBladeIntensity }}</p></div>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addDullBladeEffect(weapon, 1)">
              <mat-icon>add</mat-icon>
            </button>
          </div> 
          <div class="u-width-3" *ngIf="weapon.ranged && !weapon.natural"></div>
          <div class="u-width-15 u-flex u-flex-center u-flex-space-center" *ngIf="weapon.ranged && !weapon.natural">
            <p class="u-width-100"> {{ "PJ.SPELLS_NAMES.SPEED_DART" | translate  }} </p>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="setSpeedDart(weapon, true)">
              <mat-icon>double_arrow</mat-icon>
            </button>
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="setSpeedDart(weapon, false)">
              <mat-icon>clear</mat-icon>
            </button>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="u-width-100-padding u-flex u-flex-column border-all">
    <div class="u-flex listItem padding-all" (click)="character.swMagic = !character.swMagic">
        <p class="u-width-100 u-flex u-flex-space-center"><b>{{ "PJ.MAGIC" | translate }}</b></p>
    </div>

    <div class="u-flex u-width-100-padding margin-top" *ngIf="character.swMagic">
      <div class="u-width-25 border-all padding-all-mini margin-left-mini">
        <div class="u-flex u-flex-center u-width-100">
          <p class="u-width-50 u-text-center"><b>{{ "PJ.SPELL_TYPE.SPIRITUAL" | translate }}</b></p>
          <div class="u-width-15 u-flex-center">
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addSpell()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="u-width-35" *ngIf="character.results.magic.spiritual"><p class="u-width-100 u-text-center" ><b>{{ "COMMONS.RESULT" | translate }}:</b> {{ character.results.magic.spiritual }}</p></div>
        </div>
        
        <div class="u-flex u-width-100">
          <p class="u-width-80 u-text-center"><b>{{ "PJ.NAME" | translate }}</b></p>
          <p class="u-width-20 u-text-center"><b>{{ "COMMONS.PERCENTAGE_SHORT" | translate }}</b></p>
        </div>
        <div class="u-flex u-flex-column"
          *ngFor="let spell of character.spells.SPIRITUAL let i = index"
          [ngClass]="getLitsLineClass(i)">
          <div class="u-width-100 u-flex">
            <div class="u-width-5 u-text-center">
              <mat-icon class="cardIconButton cardIconButton-mini" (click)="spell.swShowDescription = !spell.swShowDescription">remove_red_eye</mat-icon>
            </div>
            <p class="u-width-75 u-text-center">{{ getSpiritualString(spell) }}</p>
            <div class="u-width-20 u-flex u-flex-center u-flex-space-center">
              <button class="card-button u-flex u-flex-space-center u-flex-center" (click)="rollSpitirualD100()">
                {{ getSpiritualPertent() }}
              </button>
            </div>   
          </div>
          <div class="u-width-100" *ngIf="spell.swShowDescription">
            <p class="u-width-100-padding-sides" *ngIf="spell.stackable">{{ "COMMONS.VARIABLE" | translate }}</p>
            <p class="u-width-100-padding-sides" *ngIf="!spell.stackable"> {{ spell.points }} {{ "COMMONS.POINTS" | translate }}</p>
            <p class="u-width-100-padding-sides padding-bottom-mini">{{ spell.range }}, {{ spell.duration }}, {{ getActiveText(spell) }}</p>
            <p class="u-width-100-padding-sides padding-bottom justyfy">{{ spell.description }}</p>
            
          </div>
        </div>
      </div>
      
      <div class="u-width-25 border-all padding-all-mini margin-left-mini">
        <div class="u-flex u-flex-center u-width-100">
          <p class="u-width-50 u-text-center"><b>{{ "PJ.SPELL_TYPE.DIVINE" | translate }}</b></p>
          <div class="u-width-15 u-flex-center">
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addSpell()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="u-width-35" *ngIf="character.results.magic.divine"><p class="u-width-100 u-text-center" ><b>{{ "COMMONS.RESULT" | translate }}:</b> {{ character.results.magic.divine }}</p></div>
        </div>
        
        <div class="u-flex u-width-100">
          <p class="u-width-80 u-text-center"><b>{{ "PJ.NAME" | translate }}</b></p>
          <p class="u-width-20 u-text-center"><b>{{ "COMMONS.PERCENTAGE_SHORT" | translate }}</b></p>
        </div>
        <div class="u-flex u-flex-column"
          *ngFor="let spell of character.spells.DIVINE let i = index"
          [ngClass]="getLitsLineClass(i)">
          <div class="u-width-100 u-flex">
            <div class="u-width-5 u-text-center">
              <mat-icon class="cardIconButton cardIconButton-mini" (click)="spell.swShowDescription = !spell.swShowDescription">remove_red_eye</mat-icon>
            </div>
            <p class="u-width-75 u-text-center">{{ getDivinelString(spell) }}</p>
            <div class="u-width-20 u-flex u-flex-center u-flex-space-center">
              <button class="card-button u-flex u-flex-space-center u-flex-center" (click)="rollDivinelD100()">
                {{ getDivinelPertent() }}
              </button>
            </div>   
          </div>
        </div>
      </div>

      <div class="u-width-25 border-all padding-all-mini margin-left-mini">
        <div class="u-flex u-flex-center u-width-100">
          <p class="u-width-50 u-text-center"><b>{{ "PJ.SPELL_TYPE.SORCERY" | translate }}</b></p>
          <div class="u-width-15 u-flex-center">
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addSpell()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="u-width-35" *ngIf="character.results.magic.sorcery"><p class="u-width-100 u-text-center" ><b>{{ "COMMONS.RESULT" | translate }}:</b> {{ character.results.magic.sorcery }}</p></div>
        </div>
        
        <div class="u-flex u-width-100">
          <p class="u-width-80 u-text-center"><b>{{ "PJ.NAME" | translate }}</b></p>
          <p class="u-width-20 u-text-center"><b>{{ "COMMONS.PERCENTAGE_SHORT" | translate }}</b></p>
        </div>
        <div class="u-flex u-flex-column"
          *ngFor="let spell of character.spells.SORCERY let i = index"
          [ngClass]="getLitsLineClass(i)">
            <div class="u-width-100 u-flex">
              <div class="u-width-5 u-text-center">
                <mat-icon class="cardIconButton cardIconButton-mini" (click)="spell.swShowDescription = !spell.swShowDescription">remove_red_eye</mat-icon>
              </div>
              <p class="u-width-75 u-text-center">{{ spell.name }}</p>
              <div class="u-width-20 u-flex u-flex-center u-flex-space-center">
                <button class="card-button u-flex u-flex-space-center u-flex-center" (click)="rollSorcery1D100()">
                  {{ spell.sorcerySkillValue }}
                </button>
              </div>   
            </div>
          </div>
      </div>

      <div class="u-width-25 border-all padding-all-mini margin-left-mini">
        <div class="u-flex u-flex-center u-width-100">
          <p class="u-width-50 u-text-center"><b>{{ "PJ.SPELL_TYPE.OTHER" | translate }}</b></p>
          <div class="u-width-15 u-flex-center">
            <button mat-mini-fab class="card-button card-button-mini u-flex u-flex-space-center u-flex-center" (click)="addSpell()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="u-width-35" *ngIf="character.results.magic.other"><p class="u-width-100 u-text-center" ><b>{{ "COMMONS.RESULT" | translate }}:</b> {{ character.results.magic.other }}</p></div>
        </div>
        
        <div class="u-flex u-width-100">
          <p class="u-width-100 u-text-center"><b>{{ "PJ.NAME" | translate }}</b></p>
        </div>
        <div class="u-flex u-flex-column"
          *ngFor="let spell of character.spells.OTHER let i = index"
          [ngClass]="getLitsLineClass(i)">
            <div class="u-width-100 u-flex">
              <div class="u-width-5 u-text-center">
                <mat-icon class="cardIconButton cardIconButton-mini" (click)="spell.swShowDescription = !spell.swShowDescription">remove_red_eye</mat-icon>
              </div>
              <p class="u-width-95 u-text-center">{{ spell.name }}</p>  
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" u-width-100-padding u-flex u-flex-column border-all">
    <div class="u-flex listItem padding-all" (click)="character.swShowUtils = !character.swShowUtils">
        <p class="u-width-100 u-flex u-flex-space-center"><b>{{ "ACTIONS.UTILS.UTILS" | translate }}</b></p>
    </div>
    <div class="u-flex u-flex-column" *ngIf="character.swShowUtils" >
      <div class="u-flex u-width-100">
        <div class="u-width-25 rQItem">
          <button mat-raised-button (click)="handleRace()" class="u-width-100">
            <mat-icon>manage_accounts</mat-icon>{{ "ACTIONS.SELECT_RACE" | translate  }}
          </button>
        </div>
        <div class="u-width-25 rQItem">
          <button mat-raised-button (click)="setRandomStats()" class="u-width-100">
            <mat-icon>cached</mat-icon>{{ "ACTIONS.UTILS.RND_STATS" | translate  }}
          </button>
        </div>

        <div class="u-width-25 rQItem">
          <button mat-raised-button (click)="editStats()" class="u-width-100">
            <mat-icon>edit</mat-icon>{{ "PJ.CATACTERISTICS" | translate  }}
          </button>
        </div>
       
      </div>
      <div class="u-flex u-width-100">
        <div class="u-width-25 rQItem">
          <button mat-raised-button (click)="addNewWeapon()" class="u-width-100">
            <mat-icon>add_moderator</mat-icon>{{ "ACTIONS.ADD_WEAPON" | translate  }}
          </button>
        </div>
        <div class="u-width-25 rQItem">
          <button mat-raised-button (click)="addNewArmor()" class="u-width-100">
            <mat-icon>add_moderator</mat-icon>{{ "ACTIONS.ADD_ARMOR" | translate  }}
          </button>
        </div>
      </div>
    </div>
  </div>


</div>

