/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'assets/scss/custom-colors.scss' as colors;
@import 'assets/scss/basic.scss';


@include mat.core();

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.rQItem {
  margin: 0.2rem 0.4rem;

  &.title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.4rem;
    color: colors.$text-primary;
  }
}

.light-back {
  background-color: colors.$background;
 }

.dark-back {
  background-color: colors.$background-dark;

  &.dark-back:hover,
  &.dark-back:focus {
    background-color: colors.$background-dark-hover !important;
  }
}

.dark-contrast {
  background-color: colors.$backgroung-contrast;
}


// ANGULAR MATERIAL REDESING STYLES

.mat-expansion-panel-header {
  background-color: colors.$background-dark;
  color: colors.$white !important;

  &.mat-expansion-panel-header:hover,
  &.mat-expansion-panel-header:focus {
    background-color: colors.$background-dark-hover !important;
  }
}

.mat-expansion-panel-body {
  background-color: colors.$background;
  color: colors.$tema-contrast-light;
}

.secondary-expansion {
  .mat-expansion-panel-header {
    background-color: colors.$background-sec !important;

    &.mat-expansion-panel-header:hover,
    &.mat-expansion-panel-header:focus {
      background-color: colors.$background-sec-hover !important;
    }
  }
}

.tertiary-expansion {
  .mat-expansion-panel-header {
    background-color: colors.$background-tertiary !important;

    &.mat-expansion-panel-header:hover,
    &.mat-expansion-panel-header:focus {
      background-color: colors.$background-tertiary-hover !important;
    }
  }
}

