@use '@angular/material' as mat;
@use 'assets/scss/custom-colors.scss' as colors;

@import 'assets/scss/basic.scss';

@include mat.core();

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.rQItem {
  margin: 0.2rem 0.4rem;

  &.title {
    color: colors.$text-primary;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.4rem;
  }
}

.light-back {
  background-color: colors.$background;
}

.dark-back {
  background-color: colors.$background-dark;

  &.dark-back:hover,
  &.dark-back:focus {
    background-color: colors.$background-dark-hover !important;
  }
}

.dark-contrast {
  background-color: colors.$backgroung-contrast;
}

.body {
  background-color: colors.$background;
  color: colors.$tema-contrast-light;
}

.card {
  background-color: colors.$card-background;
  border-radius: 16px;
  color: colors.$card-color;
}

.listItem {
  background-color: colors.$background-sec;
  color: colors.$white-50;
  border-radius: 8px
}

.listLine-odd {
  background-color: colors.$background-light-tertiary;
}

.listLine-even {
  background-color: colors.$background-light-tertiary-even;
}

.listLine-card-even {
  background-color: colors.$card-background-even;
}

button {
  &.minibutton{
    background-color: colors.$background-tertiary;
    scale: 0.6;
  }
}

// ANGULAR MATERIAL REDESING STYLES

.mat-expansion-panel-header {
  background-color: colors.$background-dark;
  color: colors.$white !important;

  &.mat-expansion-panel-header:hover,
  &.mat-expansion-panel-header:focus {
    background-color: colors.$background-dark-hover !important;
  }
}

.mat-expansion-panel-body {
  background-color: colors.$background;
  color: colors.$tema-contrast-light;
}

.secondary-expansion {
  .mat-expansion-panel-header {
    background-color: colors.$background-sec !important;

    &.mat-expansion-panel-header:hover,
    &.mat-expansion-panel-header:focus {
      background-color: colors.$background-sec-hover !important;
    }
  }
}

.tertiary-expansion {
  .mat-expansion-panel-header {
    background-color: colors.$background-tertiary !important;

    &.mat-expansion-panel-header:hover,
    &.mat-expansion-panel-header:focus {
      background-color: colors.$background-tertiary-hover !important;
    }
  }

  .mat-expansion-panel-body {
    background-color:  colors.$background-light-tertiary
  }
}

.mat-typography {
  p {
    margin: 0;
  }
}
