/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'assets/scss/custom-colors.scss' as colors;
@import 'assets/scss/basic.scss';


@include mat.core();

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.rQItem {
  margin: 0.2rem 0.4rem;

  &.title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.4rem;
    color: colors.$text-primary;
  }
}

.light-back {
  background-color: colors.$background-light;
 }

