<div class="rQItem u-width-100 u-flex">
  <button
    mat-raised-button (click)="handleCreate()">
      <mat-icon>person_add</mat-icon>{{ "ACTIONS.CREATE_CHAC" | translate  }}
  </button>
  <!-- TODO ADD FILTERS HERE -->
</div>
<div *ngFor="let pj of characters; let i = index" [ngClass]="getLitsLineClass(i)" class="rQItem">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="padding-right">{{ pj.name }} </span>
        <p class="rQItem"> {{ pj.profesion }} {{ pj.race }} {{ "PJ.CULTURE_TYPES." + pj.culture | translate  }} {{ pj.age }} {{ "PJ.YEARS_SHORT" | translate  }}</p>

      </mat-panel-title>
      <mat-panel-description>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.STR" | translate  }} {{ pj.stats.STR.value }}</p>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.DEX" | translate  }} {{ pj.stats.DEX.value }}</p>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.CON" | translate  }} {{ pj.stats.CON.value }}</p>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.INT" | translate  }} {{ pj.stats.INT.value }}</p>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.SIZ" | translate  }} {{ pj.stats.SIZ.value }}</p>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.POW" | translate  }} {{ pj.stats.POW.value }}</p>
        <p class="rQItem">{{ "PJ.CATACTERISTICS_TYPES.CHA" | translate  }} {{ pj.stats.CHA.value }}</p>
        <p class="rQItem padding-left">{{ "PJ.HP" | translate  }} {{ getHP(pj) }}</p>
        <p class="rQItem">{{ "PJ.MP" | translate  }} {{ getMP(pj) }}</p>
        <p class="rQItem">{{ "PJ.FP" | translate  }} {{ getFP(pj) }}</p>
        <p class="rQItem">{{ getCultText(pj) }}</p>
      </mat-panel-description>
      <span>
        <button mat-icon-button (click)="manageFavourite($event, pj)"> <mat-icon>{{ pj.favorite ? 'star' : 'star_border' }}</mat-icon></button>
        <button mat-icon-button (click)="preventAcordionExpansion($event)"> <mat-icon>visibility</mat-icon> </button>
        <button mat-icon-button (click)="handleDelete($event, pj)"> <mat-icon>delete</mat-icon></button>
      </span>
    </mat-expansion-panel-header>
    <div class="u-flex padding-top">
      <p>{{ "PJ.BORN_IN" | translate  }} {{ pj.bornIn || '' }} {{ pj.country || '' }}</p>
      <p class="padding-left">ID: {{ pj.id }}</p><mat-icon class="padding-left icon-small">{{ getGenderIcon(pj) }}</mat-icon>
      <p *ngIf="!pj.pnj">{{ "PJ.PLAYER" | translate  }}: {{ pj.player }}</p>
    </div>

    <!-- <mat-form-field>

      <p>Name</p>
      <input matInput type="text"  [value]="pj.name">
    </mat-form-field> -->
    <div class="rQItem"><p class="rQItem title">{{ "PJ.SKILLS" | translate  }}</p></div>
    <div class="u-flex">
      <div class="u-width-16 rQItem" *ngIf="pj.skills.AGILITY.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.AGILITY" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getAgilityMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.AGILITY; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.skills.COMUNICATION.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.COMUNICATION" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getComunicationMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.COMUNICATION; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
          </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.skills.MANIPULATION.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.MANIPULATION" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getManipulationMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.MANIPULATION; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
          </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.skills.KNOWLEDGE.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.KNOWLEDGE" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getKnowledgeMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.KNOWLEDGE; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
          </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.skills.STEALTH.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.STEALTH" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getStealthMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.STEALTH; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
          </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.skills.AWARENESS.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.AWARENESS" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getPerceptionMod(pj) }}</p>
          </mat-expansion-panel-header>
            <div class="u-flex u-flex-column">
              <p class="rQItem" *ngFor="let skill of pj.skills.AWARENESS; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
            </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.skills.OTHER.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SKILL_TYPE.OTHER" | translate  }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.OTHER; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
          </mat-expansion-panel>
      </div>
    </div>

    <div class="rQItem margin-top">
      <p class="rQItem title">{{ "PJ.MAGIC" | translate  }}</p>
      <div class="u-flex">
        <p class="padding-right">{{ "PJ.MP" | translate  }}: {{ getMP(pj) }}</p>
        <p class="margin-right">{{ "PJ.FREE_INT" | translate  }}: {{ getFreeINTPoints(pj) }}</p>
      </div>
    </div>

    <div class="u-flex">
      <div class="u-width-16 rQItem">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.MAGICAL_SKILLS" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getMagicalMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let skill of pj.skills.MAGICAL; let i = index" [ngClass]="getLitsLineClass(i)">{{ skill.name }} {{ skill.value }}</p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.spells.SPIRITUAL.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SPELL_TYPE.SPIRITUAL" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ pj.stats.POW.value*5 }} + {{ getMagicalMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let spell of pj.spells.SPIRITUAL; let i = index" [ngClass]="getLitsLineClass(i)">{{ spell.name }}-{{ spell.points }}</p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.spells.DIVINE.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SPELL_TYPE.DIVINE" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">100 + {{ getMagicalMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let spell of pj.spells.DIVINE; let i = index" [ngClass]="getLitsLineClass(i)">{{ spell.name }}({{ spell.points }})x{{ spell.divineStack }}</p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.spells.SORCERY.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SPELL_TYPE.SORCERY" | translate  }}</mat-panel-title>
            <p class="rQItem padding-right">{{ getMagicalMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let spell of pj.spells.SORCERY; let i = index" [ngClass]="getLitsLineClass(i)">{{ spell.name }}({{ getSpellStatus(spell) }}): {{ spell.sorcerySkillValue }} </p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.spells.DRAGON.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SPELL_TYPE.DRAGON" | translate  }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let spell of pj.spells.DRAGON; let i = index" [ngClass]="getLitsLineClass(i)">{{ spell.name }}</p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.spells.KI.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SPELL_TYPE.KI" | translate  }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let spell of pj.spells.KI; let i = index" [ngClass]="getLitsLineClass(i)">{{ spell.name }}</p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-16 rQItem" *ngIf="pj.spells.OTHER.length > 0">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.SPELL_TYPE.OTHER" | translate  }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column">
            <p class="rQItem" *ngFor="let spell of pj.spells.OTHER; let i = index" [ngClass]="getLitsLineClass(i)">{{ spell.name }}</p>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

    <div class="rQItem margin-top">
      <p class="rQItem title">{{ "PJ.COMBAT" | translate  }}</p>
      <div class="u-flex">
        <p class="padding-right">{{ "PJ.HP" | translate  }}: {{ getHP(pj) + pj.bonusHP }}</p>
        <p class="padding-right">{{ "PJ.FP" | translate  }}: {{ getFP(pj) }}</p>
        <p class="padding-right">{{ "PJ.DAMAGE_MOD" | translate  }}: {{ getDMGMod(pj) }}</p>
        <p class="padding-right">{{ getDodgeLine(pj) }}</p>

      </div>
      <div class="u-flex">
        <p class="padding-">{{ "PJ.MRCC" | translate  }}: {{ getMRDESC(pj)+getMRSIZ(pj) }} = {{ "PJ.MRDEX" | translate  }}: {{ getMRDESC(pj) }} + {{ "PJ.MRSIZ" | translate  }}: {{ getMRSIZ(pj) }}</p>
      </div>
    </div>

    <div class="u-flex">

      <div class="u-width-20 rQItem">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.LOCATIONS" | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
            <div class="u-flex u-flex-column margin-top">
              <div class="u-flex">
                <p class="u-width-35"><b>{{ "PJ.LOC_SHORT" | translate }}</b></p>
                <p class="u-width-15"><b>{{ "PJ.HP" | translate }}</b></p>
                <p class="u-width-35"><b>{{ "PJ.ARMOR_SHORT" | translate }}</b></p>
                <p class="u-width-15"><b>{{ "PJ.AP" | translate }}</b></p>
              </div>
              <div class="u-flex" *ngFor="let loc of pj.locations; let i = index" [ngClass]="getLitsLineClass(i)">
                <p class="u-width-35">{{ loc.name }}</p>
                <p class="u-width-15">{{ getHpByLocation(pj, loc)}}</p>
                <p class="u-width-35" [matTooltip]="getArmorTypeByLocation(pj, loc)">{{ getArmorTypeByLocation(pj, loc) }}</p>
                <p class="u-width-15">{{ getArmorByLocation(pj, loc) }}</p>
              </div>
            </div>
        </mat-expansion-panel>
      </div>

      <div class="u-width-40 rQItem">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header class="u-flex">
            <mat-panel-title>{{ "PJ.WEAPONS" | translate  }}</mat-panel-title>
              <p class="u-width-33 u-text-center">{{ "PJ.ATTACK_MOD" | translate }}: {{ getManipulationMod(pj) }}</p>
              <p class="u-width-33 u-text-center">{{ "PJ.PARRY_MOD" | translate }}: {{ getAgilityMod(pj) }}</p>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column margin-top">
            <div class="u-flex">
              <p class="u-width-23"><b>{{ "PJ.WEAPON" | translate }}</b></p>
              <p class="u-width-8"><b>{{ "PJ.ATTACK_SHORT" | translate }}</b></p>
              <p class="u-width-8"><b>{{ "PJ.PARRY_SHORT" | translate }}</b></p>
              <p class="u-width-8"><b>{{ "PJ.AP" | translate }}</b></p>
              <p class="u-width-8"><b>{{ "PJ.MR" | translate }}</b></p>
              <p class="u-width-15"><b>{{ "PJ.DAMAGE" | translate }}</b></p>
              <p class="u-width-15"><b>{{ "PJ.RANGE" | translate }}</b></p>
              <p class="u-width-15"><b>{{ "PJ.FIRE_RATE" | translate }}</b></p>
            </div>
            <div class="u-flex" *ngFor="let weapon of pj.weapons; let i = index" [ngClass]="getLitsLineClass(i)">
              <p class="u-width-23">{{ weapon.name }}</p>
              <p class="u-width-8">{{ getAttSkill(pj, weapon.weaponType)?.value }}</p>
              <p class="u-width-8">{{ getDefSkill(pj, weapon.weaponType)?.value }}</p>
              <p class="u-width-8">{{ weapon.armorPoints }}</p>
              <p class="u-width-8">{{ weapon.reactionMoment }}</p>
              <p class="u-width-15">{{ getWeaoponRollString(weapon) }}</p>
              <p class="u-width-15">{{ weapon.range }} / {{weapon.maxRange }}</p>
              <p class="u-width-15">{{ weapon.fireRate }}</p>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="u-width-30 rQItem">
        <mat-expansion-panel class="rQItem tertiary-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ "PJ.EQUIPMENT" | translate  }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="u-flex u-flex-column margin-top">
            <div class="u-flex">
              <p class="u-width-25"><b>{{ "PJ.EQUIPMENT" | translate  }}</b></p>
              <p class="u-width-10"><b>{{ "COMMONS.QUANTITY_SHORT" | translate  }}</b></p>
              <p class="u-width-60"><b>{{ "PJ.DESCRIPTION" | translate  }}</b></p>
              <p class="u-width-5"><b>{{ "PJ.WEIGHT" | translate  }}</b></p>
            </div>
          </div>
          <div class="u-flex u-flex-column">
            <div class="u-flex" *ngFor="let item of pj.equipment; let i = index" [ngClass]="getLitsLineClass(i)">
              <p class="u-width-25" *ngIf="item.visible">{{ item.name }}</p>
              <p class="u-width-10" *ngIf="item.visible">{{ item.quantity }}</p>
              <p class="u-width-60" *ngIf="item.visible">{{ item.description }}</p>
              <p class="u-width-5" *ngIf="item.visible">{{ item.weight }}</p>
            </div>
            <div class="u-flex" *ngFor="let item of pj.weapons; let i = index" [ngClass]="getLitsLineClass(i)">
              <p class="u-width-25" *ngIf="item.visible">{{ item.name }}</p>
              <p class="u-width-10" *ngIf="item.visible">{{ item.quantity }}</p>
              <p class="u-width-60" *ngIf="item.visible">{{ item.description }}</p>
              <p class="u-width-5" *ngIf="item.visible">{{ item.weight }}</p>
            </div>
            <div class="u-flex" *ngFor="let item of pj.armor; let i = index" [ngClass]="getLitsLineClass(i)">
              <p class="u-width-25" *ngIf="item.visible">{{ item.name }}</p>
              <p class="u-width-10" *ngIf="item.visible">{{ item.quantity }}</p>
              <p class="u-width-60" *ngIf="item.visible">{{ item.description }}</p>
              <p class="u-width-5" *ngIf="item.visible">{{ item.weight }}</p>
            </div>
            <div class="u-flex">
              <p class="u-width-80"></p>
              <p class="u-width-15"><b>{{ "COMMONS.TOTAL" | translate  }}:</b></p>
              <p class="u-width-5 border-top"><b>{{ getTotalCAR(pj) }}</b></p>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
</div>

